body {
  margin: 0;
  padding: 0;

text-align: center;

  @media (min-width: 900px) {
    article { margin-left: 35%;
      width: 25em;
    
  }

 
  }

  }



    


header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.header-ul {
  @media (min-width: 950px) {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.header-ul-knop {
  @media (min-width: 1100px) {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 5em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.hamburgerMenuKnop {
  border: none;
  background-color: white;
  margin-left: 7em;

  @media (max-width: 1100px) {
    display: block;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section {padding: 1em;}
h1 {
  margin-top: 3em;
  font-size: 4vw;

  span {
    color: var(--primary-color);
  }
}




article {
  border: 8px solid var(--primary-color);
  border-radius: 3em;
  margin: 3em;
  padding: 2em;
  display: grid;
  grid-template-rows: repeat(5, auto);
  text-align: center;
  width: 20em;
  height: fit-content;

  background-color: var(--section-background) ;


  .logo {
    grid-row-start: 1;
    justify-self: center;
    margin: 0;
  
  }

  .button-a {
    grid-row-start: 1;
    height: 3em;
    width: 3em;
    color: white;
    background-color: var(--primary-color);
    border-radius: 1em;
    border: none;
    cursor: pointer;
      box-shadow: .2em .2em var(--accent-dark);

    &:hover {
      box-shadow: 0.1em 0.2em black;
      translate: 0-0.4em; }

    &:active {
      box-shadow: none;
      translate: 0 0;}
  }

  h2 {
    grid-row-start: 2;
    font-size: 26px;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    grid-row: 3;
  }

  li {
    background-color: #e8f8f1;
    padding: 5px 10px;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
  }

  a {
    grid-row-start: 5;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    height: 2em;
    padding-top: 1em;
    justify-self: center;
    width: 15em;
    margin-top: 1em;
      box-shadow: .2em .2em var(--accent-dark);
  }

    p {
    height:0;

    display:block;
    grid-row-start: 4;
    border-left: .3em solid rgb(255, 255, 255);
    color: var(--accent-light);
    padding: .3em;
    overflow:hidden;
    
    transition-duration:.5s;
    transition-timing-function:cubic-bezier(.5, 1.6, .9, 1.6);
  }
}

    a:hover {
      box-shadow: 0.1em 0.2em black;
      translate: 0-0.4em;
    }

    a:active {
      box-shadow: none;
      translate: 0 0;
    }

.uitgeklapt {
  border: 8px solid #e8f8f1;
  background-color: var(--primary-color);

  .logo {
    path {
      fill: var(--accent-light);
    }
  }

  .button-a {
    background-color: white;
  }

  h2 {
    color: var(--accent-light);
  }


  a {
    background-color: var(--accent-light);
    color: var(--accent-dark);
   
  }
  p {
    height: auto;

  }
}

footer {
  padding: 2em;
  background-color: #121827;
  color: white;

    h3 {
      margin-left: 2em;
    }

    ul {
      list-style: none;
    }

    li{
      padding: .3em;
    }

    a {
      text-decoration: none;
      color: white;

    }
}


@keyframes --rotate {

0%{rotate: 0turn;}

100%{rotate: 1turn;}
  
}

  article:hover {
    .wijzer{animation-name: --rotate;
    animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function:linear;
transform-origin: center;
}
}

  