body {
  margin: 0;
  padding: 0;}

header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.header-ul {
  @media (min-width: 950px) {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.header-ul-knop {
  @media (min-width: 1100px) {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 5em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.hamburgerMenuKnop {
  border: none;
  background-color: white;
  margin-left: 7em;

  @media (max-width: 1100px) {
    display: block;
  }
}
h1 {
  margin-top: 3em;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}



footer {
  padding: 2em;
  background-color: #121827;
  color: white;

  h3 {
    margin-left: 2em;
  }

  ul {
    list-style: none;
  }

  li{padding: .4em};

  a {
    text-decoration: none;
    color: white;
    
  }
}

