body {
  margin: 0;
  padding: 0;


}
header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.header-ul {
  .ul-a {
    text-decoration: none;
    color: var(--dark-text);
    font-weight: bold;
    padding: 0 0.4em;

    &:hover {
      color: var(--primary-color);
    }

    @media (max-width: 1242px){
      display: none;
    }
  }

  @media (min-width: 950px) {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.ul-button1 {
  text-decoration: none;
  color: var(--dark-text);
  font-weight: bold;
  padding: 0.9em;
  border: solid 1px var(--border-color);
  border-radius: 1em;
}

.ul-button2 {
  text-decoration: none;
  color: var(--accent-light);
  font-weight: bold;
  background-color: var(--primary-color);
  padding: 0.9em;
  border-radius: 1em;
}

.header-ul-knop {
  @media (min-width: 635px) {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 5em;
  }
  @media (max-width: 635px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.hamburgerMenuKnop {
  border: none;
  background-color: white;
  margin-left: 7em;

  @media (max-width: 635px) {
    display: block;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
h1 {
  margin-top: 2em;
  padding: 1em;
  @media (min-width: 1100px) {
    margin-left: 40%;
  }
}

.intro-adres {
  padding: 1em;
  @media (min-width: 1100px) {
    margin-left: 30%;
  }
}

.intro {
  padding: 1em;
  max-width: 90ch;

  @media (min-width: 1100px) {
    margin-left: 25%;
  }
}

.label {
  list-style: none;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  grid-row: 3;
  @media (min-width: 1100px) {
    margin-left: 30%;
  }
}

.li-label {
  background-color: #e8f8f1;
  padding: 5px 10px;
  padding-bottom: 0.5em;
  border-radius: 0.5em;

  border-top-left-radius: 1em;
}

/* section wordt niet getoont */

.ul-tab {
  display: flex;
  list-style: none;
  margin: 1em;
  gap: 1em;
  background-color: #059669;
  height: 3em;
  width: 100%;
  padding-top: 1.5em;
  margin-left: 0;
  
  
}

a {
  color: white;
  text-decoration: none;
  

  &:hover {
    text-decoration: underline 2px;
  }
}

section {
  height: 50vh;
  max-width: 80ch;
  display: none;
  padding: 1em;
    @media (min-width: 1100px) {
    margin-left: 30%;
  }
}

.li-ul {
  background-color: white;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;

  a {
    color: black;
  }
}

.li-ul:first-child {
  margin-left: -34px;
  @media (min-width: 1100px) {
    margin-left: 28%;
  }}

/*zonder anchor wordt de eerste tab getoont  */
body:not(:has(.anchor:target)) {
  #werktijden + section {
    display: block;
  }
}

/* section met target wordt getoont */
.anchor:target + section {
  display: block;
}

/* zorgt dat de section niet naar boven springt.  */
.anchor {
  position: absolute;
  top: 0;
}

footer {
  padding: 2em;
  background-color: #121827;
  color: white;

  h3 {
    margin-left: 2em;
  }

  ul {
    list-style: none;
  }

  li {
    padding: 0.3em;
  }

  a {
    text-decoration: none;
    color: white;
  }
}
