body {
  margin: 0;
  padding: 0;


@media (max-width: 440px) {


  h1 {
    font-size: 25px;
  }

    article {
     width: 17em; 

    }

     .uitgeklapt {
     width: 17em; 
     height: 45em;

    }

    }}



  @media (min-width: 1300px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      text-align: center;
    }

    section{ margin: 1em 8em;}

    h1 {
      grid-column: 1 / -1;
    }
    p {
      grid-column: 1 / -1;
    }
    article {
      
      margin-bottom: 14em;
    }
  }


header {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}

.header-ul {
  @media (min-width: 950px) {
    list-style: none;
    display: flex;
    gap: 2em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.header-ul-knop {
  @media (min-width: 1100px) {
    list-style: none;
    display: flex;
    gap: 2em;
    margin-right: 5em;
  }
  @media (max-width: 1100px) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.hamburgerMenuKnop {
  border: none;
  background-color: white;
  margin-left: 7em;

  @media (max-width: 1100px) {
    display: block;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

section {padding: 1em;}
h1 {
  margin-top: 3em;

  span {
    color: var(--primary-color);
  }
}


article {
  border: 8px solid var(--primary-color);
  border-radius: 3em;
  margin: 1em;
  padding: 2em;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  width: 20em;
  height: 22em;
  margin-top: 5em;
  background-color: var(--section-background) ;
  transition: 0.4s;

  

  .logo {
    grid-row-start: 1;
    justify-self: center;
    margin: 0;
    rotate: 50deg;
  }

  button {
    grid-row-start: 1;
    height: 3em;
    width: 3em;
    color: white;
    background-color: var(--primary-color);
    border-radius: 1em;
    border: none;
    cursor: pointer;
      box-shadow: .2em .2em var(--accent-dark);

    &:hover {
      box-shadow: 0.1em 0.2em black;
      translate: 0-0.4em; }

    &:active {
      box-shadow: none;
      translate: 0 0;}
  }

  h2 {
    grid-row-start: 2;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    grid-row: 3;
  }

  li {
    background-color: #e8f8f1;
    padding: 5px 10px;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
  }

  a {
    grid-row-start: 4;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    border-radius: 1em;
    font-weight: bold;
    height: 2em;
    padding-top: 1em;
    justify-self: center;
    width: 15em;
    margin-top: 1em;
      box-shadow: .2em .2em var(--accent-dark);
  }
}
.uitgeklapt {
  border: 8px solid #e8f8f1;
  background-color: var(--primary-color);
  border-radius: 3em;
  margin: 1em;
  padding: 2em;

  display: grid;
  grid-template-rows: repeat(7, 1fr);
  text-align: center;
  width: 20em;
  height: 36em;
  margin-top: 5em;

  svg {
    grid-row-start: 1;
    justify-self: center;
    margin: 0;

    path {
      fill: var(--accent-light);
    }
  }

  button {
    grid-row-start: 1;
    height: 3em;
    width: 3em;
    background-color: white;
    border: none;
    border-radius: 1em;
    border: none;
    cursor: pointer;
    box-shadow: .2em .2em var(--accent-dark);

    &:hover {
      box-shadow: 0.1em 0.2em black;
      translate: 0-0.4em;
    }

    &:active {
      box-shadow: none;
      translate: 0 0;
    }
  }

  button::after {
    content: minder;
  }

  h2 {
    grid-row-start: 2;
    color: var(--accent-light);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    grid-row: 3;
    padding: 1em;
  }

  li {
    background-color: #e8f8f1;
    padding: 5px 10px;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
  }

  a {
    grid-row-start: 7;
    text-decoration: none;
    background-color: var(--accent-light);
    color: var(--accent-dark);
    border-radius: 1em;
    font-weight: bold;
    height: 2em;
    padding-top: 1em;
    justify-self: center;
    width: 15em;
    margin-top: 1em;
  }

  p {
    display: block;
    grid-row-start: 4;
    border-left: 0.3em solid var(--accent-light);
    color: var(--accent-light);
    padding-left: 1em;
  }
}

footer {
  padding: 2em;
  background-color: #121827;
  color: white;

  h3 {
    margin-left: 2em;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
}


@keyframes --rotate {

0%{rotate: 0turn;}

100%{rotate: 1turn;}
  
}


  article:hover {
    .wijzer{animation-name: --rotate;
    animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function:linear;
transform-origin: center;
}
}