/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */
  
   
@font-face {
    font-family: 'Inter';
    src: url(Inter_18pt-Bold.ttf), format(ttf)
    ;
     font-weight: bold;

}

    @font-face {
    font-family: 'Inter';
    src: url(Inter-VariableFont_opsz\,wght.ttf), format(ttf);
  

}



@layer styleguide {

    :root {
        /* Kleuren */
        --primary-color: #059669;
        --dark-text: #394150;
        --section-background:#f9fafb;
        --border-color:#efe7eb;
        --accent-light: #ffffff;
         --accent-dark: #000000;

        /* Typografie */
        --headline: 24px;
        --head: 18px;
        --subhead: 16px;
        --body: 16px;
        --label: 14px;

        --font-family: 'Inter', sans-serif;

    
    


    
}

    }

    body {
      
        font-family: var(--font-family);
    }

    #kleur figure:nth-of-type(1) code {
        background: var(--primary-color);
        color: var(--text);
        border: 1px solid black;
       
    }

    #kleur figure:nth-of-type(2) code {
        background: var(--dark-text);
        color: var(--background-dark);
               border: 1px solid black;
    }

    #kleur figure:nth-of-type(3) code {
        background: var(--section-background);
        color: var(--background-dark);
               border: 1px solid black;
    }

    #kleur figure:nth-of-type(4) code {
        background: var(--border-color);
        color: var(--background-dark);
               border: 1px solid black;
    }

    #kleur figure:nth-of-type(5) code {
        background: var(--accent);
        color: var(--background-dark);
               border: 1px solid black;
    }




